<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>全部疾病</title>
    </head>
    <body>
        <h1>疾病列表</h1>
        <table>
            <tr>
                <td>疾病名</td>
                <td>又名</td>
                <td>患病人群</td>
                <td>传染性</td>
                <td>是否在医保范围</td>
            </tr>
            {% for disease in diseases %}
            <tr>
                <td>{{disease.name}}</td>
                <td>{{disease.alias}}</td>
                <td>{{disease.patient}}</td>
                {% if disease.infection %}
                <td>有</td>
                {% endif %}
                {% if not disease.infection %}
                <td>无</td>
                {% endif %}
                {% if disease.insurance %}
                <td>是</td>
                {% endif %}
                {% if not disease.insurance %}
                <td>否</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>